body {
    box-sizing: border-box;
}
#outerBox {
    width: 400px;
    height: 300px;
    background-color: darkgoldenrod;
    border: solid 10px black;
    margin: 40px 20px;
}
#screen {
    background-color: cornflowerblue;
    width: 370px;
    height: 150px;
    border: solid 5px black;
    margin: 20px 10px;
}
#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px ;
}

.reset{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.createTv{
    padding: 20px;
}
